/* variable */
:root{
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
    scroll-behavior: smooth;
}
body{
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}
.btn{
    background-color: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
    text-align: center;
}
img{
    max-width: 100%;

}
.wrapper{
    display: grid;
    grid-gap: 20px;
}
/* styling code ng navigation */
.main-nav{
    background: var(--dark);
    padding: 0.8rem;
}
.main-nav ul{
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}
.main-nav a{
    display: block;
    text-decoration: none;
    /* padding: 0.8rem; */
    text-align: center;
    color: var(--light);
    text-transform: uppercase;
    font-size: 1.1rem;
}
/* styling code ng container */
.top-container{
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}
/* styling code ng showcase */
.showcase{
    grid-area: showcase;
    min-height: 400px;
    background: url(img/pic5.jpeg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}
.showcase h1{
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}
.showcase p{
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}
/* styling code ng top box */
.top-box{
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}
.top-box .price{
    font-size: 2.5rem;
}
.top-box-a{
    grid-area: top-box-a;
}
.top-box-b{
    grid-area: top-box-b;
}
/* styling code ng boxes */
.boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.box{
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}
/* styling code ng about */
.about{
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}
/* styling code ng images */
.images{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.images img{
    width: 100%;
    box-shadow: var(--shadow);
}
/* styling code ng footer */
footer{
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}
/* code ng media queries para sa mobile responsive ang Design */
@media(max-width: 700px) {
    .top-container{
        grid-template-areas:
        'showcase showcase' 
        'top-box-a top-box-b';
    }
    .showcase h1{
        font-size: 2.5rem;
    }
    .main-nav ul{
        grid-template-columns: 1fr;
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about .btn{
        display: block;
        text-align: center;
        margin: auto;
    }
}